/* CSS Document */
body,div,address,blockquote,iframe,ul,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,pre,table,caption,th,td,form,legend,fieldset{margin:0;padding:0;font: 12px/1.6 "Segoe UI",Tahoma,Arial; word-wrap: break-word;}
ol,ul{list-style:none;}
img,iframe,fieldset{border:0;}
*:focus{outline:0;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
body{   font: 12px/1.6 "Segoe UI",Tahoma,Arial; word-wrap: break-word;}
input,button,select,textarea{font-size:100%;font-family:inherit;}
textarea{overflow:auto;}
a:link,a:visited{text-decoration:none;}
a:hover{ text-decoration:underline}
button{overflow:visible;}
body{background:url(images/bg.gif) #f5f8fe repeat-x;  }
.clear{ clear:both}
a{blur:expression(this.blur());}
a { outline:none; }
.logo,.gg1{ float:left; height:64px;  }
.banner{width:980px; margin:0 auto; padding:0;}
.content{ width:980px; margin:0 auto; padding:0; background:#FFFFFF  }
 



 
 body {
margin:0;
border:0;
padding:0;
height:100%; 
max-height:100%; 
background:#fff; 
font-family:arial, verdana, sans-serif; 
font-size:12px;
overflow: hidden; 
text-align:center; 
}
a{ text-decoration:none}
*{ margin:0; padding:0;}
img { border:none; }
UL { list-style:none; }
.clear { clear:both; }
.layout { width:960px; text-align:center; margin: 10px auto 0 auto; }
.blue,blue a,.box h5 a,.box h6 a,.box a.more,.crumbs a{ color:#004499}
textarea{border:1px solid #DCDDDD; background:#fff;clear:both;color:#555;font-size:14px;height:130px;padding:5px 0 0 5px;text-align:left;width:99%; margin-bottom:8px}
.ib, .ib-li li, .ib-a a, .ib-span span,.btn,.btn input,.photo-hot li,.Article-Tool a ,.photo-list li,.photo-channel .photo-slide .change i,.photo-channel .tool .auto,.photo-channel .tool .up,.photo-channel .tool .next,.photo-cat .content h5 span.blue a,.submit{display:inline-block;zoom:1;*display:inline;}
.rt {
float: right;
}
.fn {
font-weight: normal;
}
a,visted{
	text-decoration: none;
}
f12{ font-size:12px}
f14{ font-size:14px}
f16{ font-size:16px}

/* 全站导航 */
/*#daohangbg{width:100%;height:45px;background-color:#333;margin:-15px 0 2px 0;position:relative;z-index:99} 固定位置*/
#daohangbg{width:100%;height:45px;background-color:#333;position:absolute;   top:0;left:0;z-index:99 }
 
#daohang{width:1100px;height:45px;background-color:#333;margin-bottom:2px; margin:auto}
.home{margin-left:16px}
.home a:visited{ color:#fff}
.tab{position:relative;display:block;float:left;cursor:pointer}
.tab .tablink{position:relative;padding:1px 12px;line-height:40px;display:block;height:40px;color:#fff;font-size:14px;z-index:99;float:left}
.tab .tablink a{line-height:40px;color:#FFF;text-decoration:none}


.tab .memberlinksss{position:relative;padding:1px 12px;line-height:40px;display:block;height:40px;color:#FF0;font-size:12px;z-index:99;float:left}
.tab .memberlinksss a;visited{line-height:40px;color:#FF0;text-decoration:none}

.tab:hover{background-color:#FFF}
.tab:hover .tablink{color:#2480B3;border:1px solid #2480B3;padding:0 11px;text-decoration:none}
.tab:hover .tablink a{color:#2480B3}

.tabright{position:relative;display:block;float:left;cursor:pointer;width:300px; overflow:hidden}

.dropdown a:visited{ color:#FFF}
.dropdown:hover .arwlink{border-bottom:1px solid #FFF;border-left:1px solid #2480B3;height:41px}
.dropdown ul{display:none}
.dropdown:hover ul{position:absolute;display:block;margin-left:-1px;top:42px;left:1px;z-index:9}
.subnav{width:250px}
.subnav a{padding:4px 0 4px 10px;line-height:16px;width:70px;display:block;white-space:nowrap;color:#333;float:left}
.subnav :hover{text-decoration:underline;color:#2480B3}
.subnav a:visited{ color:#333}
.dropdown .subnav{background-color:#FFF;border:1px solid #2480B3;padding:8px}

 



/* 全站导航 */
.mainleft .mtitle{ width:300px; height:30px; background:url(../images/leftbg1.jpg) no-repeat; margin:5px 0 0 0; overflow:hidden}
.mainleft .mtitle .mainleftleft{ width:190px; height:30px;line-height:30px; padding-left:10px;text-align:left; float:left; color:#FFF; font-size:14px; font-weight:bold;}
.mainleft .mtitle .mainleftright{ width:90px; height:30px; line-height:30px; float:right;}
.mainleft .mtitle .mainleftright a{ color:#FFF}

.mainleft  .mcontent{
	width:298px;
	overflow:hidden;
	margin:0 0 5px 0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	border-top-style: none;
	position:relative;
	z-index:9;
}
















#daohang .daohangleft{ width:700px; height:41px; float:left}
#daohang .daohangright{ width:275px; height:41px; line-height:41px;float:right}
/* 其他 */
.hot{
	width:22px;
	height:12px;
	background:url(/statics/images/a.png) no-repeat -111px -40px;
	position:absolute;
	right:-12px;
	top:2px;
	z-index:999
}
.new{width:22px;height:12px;background:url(/statics/images/a.png) no-repeat -85px -40px;position:absolute;right:-12px;top:2px;z-index:999}


/* 搜索 */
.TopLink .rightsearch{ float:left; width:360px;_width:auto; padding:22px 10px 1px 20px; height:70px}
.TopLink .rightsearch .tabsearch{ margin: 0 0 0 -80px;padding:5px 0}
 
.TopLink .rightsearch .tabsearch a{ color:#fff}
.TopLink .rightsearch .tabsearch a.on{ font-weight:700}
.TopLink .rightsearch .bd{ background:#ededed; padding:5px; float:left;}
.TopLink .rightsearch .text{border:1px solid #e5e5e7;padding:4px 0 3px 40px; height:18px;width:210px;background:#fff url(../images/v9/icon.png) no-repeat}
.TopLink .rightsearch .button{ background:#3a6ea5; border:none; color:#fff; height:1.9em;margin-left:3px;width:4.2em; margin-left:6px;vertical-align:middle; text-align:center}

#container {
position:fixed; 
top:40px;
bottom:40px;
left:0;
right:0; 
overflow:auto; 
background:#fff;

text-align:center;
}
* html #container {
height:100%; 
width:100%; 
}
#content{ padding-bottom:59px;}

/* 底部 */
.global198zonefooterForNotYouChongtu{ font-size:12px; color:#FFF; position:absolute; z-index:9999; bottom:0;left:0; width:100%; height:40px; }
.global198zonefooterForNotYouChongtu  .footicononchongtu{ width:20px; height:20px; float:left; margin:12px 5px 0 50px ;}
.global198zonefooterForNotYouChongtu  .foottextnonchongtu{ float:left; height:40px; line-height:40px; font-weight:bold; font-size:14px;}
.global198zonefooterForNotYouChongtu  .foottextnonchongtu a,a:visited{ color:#FF0}
.global198zonefooterForNotYouChongtu  .foottextnonchongtu a:hover{ color:#CCC}
.global198zonefooterForNotYouChongtu  .footadmiddle{ float:left; width:470px; height:28px; line-height:40px; margin:12px 25px 0 5px; }
.global198zonefooterForNotYouChongtu  .foottextnonchongtuad{ float:right; width:200px; height:40px; line-height:40px; margin:0 10px 0 0; }
* html .global198zonefooterForNotYouChongtu {height:40px;}


.footad{width:960px;height:85px;padding:7px 10px 10px;background-color: #F2F2F2;position: fixed;bottom:50px;left:50%;margin-left:-480px;z-index: 888;box-shadow: 0 0 10px #ccc;}
.footad .title{float: left;font-family: Arial;font-size: 12px;color:#333;line-height:20px;width:100%;height:20px;margin-bottom:5px;}
.footad .title .close {float: right;font:normal 14px/normal 'microsoft yahei';cursor: pointer;}
.footad .content {width:960px;height:60px;position:relative;background-color: #F2F2F2; text-align:center}
.footad .content .notip{position:absolute;height:20px;width:220px;font:normal 12px/20px 'microsoft yahei';top:50%;left:50%;margin-top:-10px;margin-left:-110px;color:#999;z-index:0;}
.footad .content .mainad{position:absolute;left:0;top:0;zindex:2; text-align:center}


 
.rightad{width:200px;padding:7px 10px 10px;height:225px;background-color: #F2F2F2;position: fixed;bottom: 60px;right: 25px;z-index: 888;box-shadow: 0 0 10px #ccc}
.rightad .title{float:left;font-family: Arial;font-size: 12px;color: #ccc;line-height:20px;width:100%;height:20px;margin-bottom:5px;}
.rightad .title .close {float: right;font:normal 14px/normal 'microsoft yahei';cursor: pointer;}
.rightad .content {width:200px;height:200px;position:relative; background-color:#F2F2F2}
.rightad .content .notip{position:absolute;height:40px;width:150px;font:normal 12px/1.8 'microsoft yahei';top:50%;left:50%;margin-top:-20px;margin-left:-75px;color:#999;z-index:0;text-align:center;}
.rightad .content .mainad{position:absolute;left:0;top:0;zindex:2;}